code {
    background-color: #1b293c;
    border: 1px solid #021023;
    border-radius: 7px;
    display: block;
    padding: 15px 16px;
    box-shadow: inset 8px 8px 5px #021023;
}

@font-face {
    font-family: SansationLight;
    src: url(fonts/sansation_light.woff);
}

h2, h3{
    text-shadow: 10px 10px 5px #021023;
}

div.slide-up {
    overflow: hidden;
    margin-top: 20px;
}



div.slide-up p {
    font-family: SansationLight;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 10px;
}

div.slide-up img {
    margin-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .slide-up-animation {
        animation: 900ms slide-up;
    }
    .fade-in-animation {
        animation: 900ms fade-in;
    }
}

@keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 20px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#docs {
    opacity: 0;
}

button {
    cursor: pointer;
    font-family: SansationLight;
    border: none;
    border-radius: 10px;
    width: 210px;
    height: 80px;
    margin: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 1px #000,
    1px 1px 0.5px #000,
    4px 4px 2px #000,
    8px 8px 4px #000,
    16px 16px 8px #000;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toc {
    width: fit-content;
    padding: 10px;
    margin: auto;
}

.title h1 {
    font-size: 3em;
    text-align: center;
    font-family: "SansationLight";
}

.title p {
    font-family: SansationLight;
    font-size: 1.5em;
    text-align: center;
    color: #ECEFF1;
}

h1{
    color: #ECEFF1;
    text-shadow: 20px 20px 10px #021023;
    text-align: center;
}

body {
    background-color: #0c0f13;
}

.TypesList a {
    color: #d9e2ff;
}

.center {
    font-family: "PT Sans", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #000,
    4px 4px 2px #000,
    8px 8px 4px #000,
    16px 16px 8px #000,
    32px 32px 16px #000;
    background-color: #161B22;
    font-size: 17px;
    color: #ECEFF1;
    margin: auto;
    width: 55%;
    padding: 10px;
}

.blue {
    color: cadetblue;
}

.number {
    color: #70C5D7;
}

.comment {
    color: #999;
}

.string {
    color: #9CCC65;
}